ion-content.camera-content {
  --background: transparent;
  --ion-background-color: transparent;
}

.camera-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; // Behind controls
  background: transparent; // MUST be transparent to see the camera behind the WebView
}

.camera-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 1; // On top of camera
}

.controls-container {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  pointer-events: auto;
}

.shutter-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid white;
  position: relative;
  transition: transform 0.1s;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    background-color: white;
    border-radius: 50%;
  }

  &:active {
    transform: scale(0.95);
  }
}